body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    justify-content: center;
    background-color: mediumaquamarine;
}

div {
    margin-bottom: 20px;
}

#title {
    font-size: 4vw;
    font-family: Cursive, sans-serif;
    font-weight: bold;
    color: rgb(52, 30, 219, 0.5);
    margin-bottom: 50px;
    border: 5px solid #04AA6D;
    border-radius: 50%;
    padding: 3vw;
    background:#04AA6D;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background 0.3s ease;
}




#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#refresh {
    background-color: rgb(52, 30, 219, 0.5);
}

button {
    background-color: #04AA6D;
    border: none;
    border-radius: 24px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 0;
  }

  @media (min-width: 600px) {
    #buttons {
        flex-direction: row; /* Horizontal layout on larger screens */
    }
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #bb491c, #832c06);
}

button:active {
    top: 2px;
    background: linear-gradient(135deg, #aa901a, #e4d509);
}

#scoreContainer {
    text-align: center;
    font-size: 24px; 
    /*height: 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;       
  }

img {
    width: 20vw;
    height: auto;
    margin-bottom: 20px;
}